<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>An Toàn điện</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../../../stylesheets/css/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/slick-theme.css"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/nouislider.min.css"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../../stylesheets/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/style.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- HEADER -->
<%- include('../layouts/header'); -%>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a><a href="/">Trang chủ</a></a></li>
                <li><a ><a href="/khoahoc/all">Tất cả</a></a></li>
                <li><a ><a href="/khoahoc/lop3">Lớp 3</a></a></li>
                <li><a ><a href="/khoahoc/lop4">Lóp 4</a></a></li>
                <li><a ><a href="/khoahoc/lop5">Lớp 5</a></a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->

{{{body}}}
<div id="breadcrumb" class="section">
 <!-- container -->
 <div class="container">
     <!-- row -->
     <div class="row">
         <div class="col-md-12">
             <ul class="breadcrumb-tree">
                 <li><a href="/">Trang chủ</a></li>
                 <li><a href="#">Thông tin tài khoản</a></li>
             </ul>
         </div>
     </div>
     <!-- /row -->
 </div>
 <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
 <!-- container -->
 <div class="container">
     <!-- row -->
     <div class="row">

         <div class="col-md-7">
             <!-- Billing Details -->
             <div class="billing-details">
                 <div class="section-title">
                     <h3 class="title">Thay đổi thông tin tài khoản</h3>
                 </div>
                 <form method="POST" action="/users/edit">
                  <p id="message">{{message}}</p><br>
                     <div class="form-group">
                         <input class="input" value="<%=user.ho%>" type="text" name="ho" placeholder="Tên">
                     </div> 
                     <div class="form-group">
                      <input class="input" value="<%=user.ten%>" type="text" name="ten" placeholder="Tên">
                  </div>                  
                     <div class="form-group">
                         <input class="input" value="<%=user.diachi%>" type="text" name="diaChi" placeholder="Địa chỉ">
                     </div>
                     <div class="form-group">
                         <input class="input" value="<%=user.sdt%>" type="text" name="sdt" placeholder="Số điện thoại" >
                     </div>
                     <div class="form-group">
                         <input class="input" value="<%=user.email%>" type="email" name="email" id="email" placeholder="Email" disabled>
                     </div>
                    
                     <div>
                         <input id="register"  class="primary-btn order-submit" type="submit" value="Chỉnh sửa"/>
                     </div>
                 </form>                      							
             </div>
             <a href="/users/info" class="primary-btn order-submit">Quay lại</a><br><br>
             <!-- /Billing Details -->
     </div>
     <!-- /row -->
 </div>
 <!-- /container -->
</div>
<!-- FOOTER -->
<footer id="footer">
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
                </div> 
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="../../javascripts/jquery.min.js"></script>
<script src="../../javascripts/bootstrap.min.js"></script>
<script src="../../javascripts/slick.min.js"></script>
<script src="../../javascripts/nouislider.min.js"></script>
<script src="../../javascripts/jquery.zoom.min.js"></script>
<script src="../../javascripts/main.js"></script>
<script src="../../javascripts/code.js"></script>
</body>
</html>