<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>An Toàn điện</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../../../stylesheets/css/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/slick-theme.css"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/nouislider.min.css"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../../stylesheets/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/style.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- HEADER -->
<%- include('../layouts/header'); -%>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
             <li><a><a href="/">Trang chủ</a></a></li>
                <li><a><a href="/khoahoc/all">Tất cả</a></a></li>
                <li><a><a href="/khoahoc/lop3">Lớp 3</a></a></li>
                <li><a><a href="/khoahoc/lop4">Lớp 4</a></a></li>
                <li><a><a href="/khoahoc/lop5">Lớp 5</a></a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->


<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
 <!-- container -->
 <div class="container">
     <!-- row -->
     <div class="row">
         <div class="col-md-12">
             <ul class="breadcrumb-tree">
                 <li><a href="/">Trang chủ</a></li>
                 <li><a href="#">Giỏ hàng của tôi</a></li>
             </ul>
         </div>
     </div>
     <!-- /row -->
 </div>
 <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
 <!-- container -->
 <div class="container">
     <!-- row -->
     <div class="row">
         

         <!-- STORE -->
         <div id="store" class="col-md-12">

             <!-- store products -->
             <div class="row">
                 <%if(data){%>
                  <%data.forEach(product=>{%>
                   <!-- product -->
                   <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div class="product-img">
                            <img src="<%=product.hinhAnh%>" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category"><%=product.loai%></p>
                            <h3 class="product-name"><a href="/khoahoc/info/<%=product._id%>"><%=product.ten%></a></h3>
                            <h4 class="product-price"><%=product.gia%> VNĐ</h4>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <a href="/cart/delete/<%=product._id%>"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Xóa khỏi giỏ hàng</button></a>
                        </div>
                    </div>
                </div>
                <!-- /product -->
                <div class="clearfix visible-md visible-sm visible-xs"></div>
                   <%})%>
                  <%}%>
                     
                 
             </div>
             <!-- /store products -->
             <%if(numberProduct){%>
              <div class="add-to-cart">
               <a href="/cart/checkout" class="primary-btn order-submit">Đăng kí ngay</a>
               </div>
              <%}else{%>
               <h2>Bạn chưa đăng kí khóa học nào!</h2>
               <%}%>
             

         </div>
         <!-- /STORE -->
     </div>
     <!-- /row -->
 </div>
 <!-- /container -->
</div>
<!-- /SECTION -->

<!-- FOOTER -->
<footer id="footer">

    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
                </div> 
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="../../javascripts/jquery.min.js"></script>
<script src="../../javascripts/bootstrap.min.js"></script>
<script src="../../javascripts/slick.min.js"></script>
<script src="../../javascripts/nouislider.min.js"></script>
<script src="../../javascripts/jquery.zoom.min.js"></script>
<script src="../../javascripts/main.js"></script>
<script src="../../javascripts/code.js"></script>
</body>
</html>